
        .body-initial {
            background-color: rgba(22, 46, 116, 0.9294117647058824);
        }
        
        .silex-id-1478366444112-1 {
            top: 5px;
            left: 5px;
            background-color: rgba(22, 46, 116, 0.9294117647058824);
            min-width: 960px;
        }
        
        .silex-id-1478366444112-0 {
            min-height: 92px;
            background-color: transparent;
            width: 960px;
            top: 15px;
            left: 216px;
        }
        
        .silex-id-1496171637415-0 {
            min-height: 43px;
            width: 41px;
            top: 25px;
            left: 697px;
        }
        
        .silex-id-1496171474022-0 {
            min-height: 74px;
            width: 74px;
            top: 7px;
            left: 8px;
        }
        
        .silex-id-1496171481889-1 {
            min-height: 33px;
            width: 212px;
            top: 31px;
            left: 91px;
        }
        
        .silex-id-1496245596511-10 {
            min-height: 43px;
            width: 58px;
            top: 25px;
            left: 751px;
        }
        
        .silex-id-1496245687356-11 {
            min-height: 43px;
            width: 55px;
            top: 25px;
            left: 820px;
        }
        
        .silex-id-1496245771918-12 {
            min-height: 43px;
            width: 55px;
            top: 25px;
            left: 885px;
        }
        
        .silex-id-1496249160049-17 {
            min-height: 21px;
            width: 282px;
            top: 38px;
            left: 305px;
        }
        
        .silex-id-1496251948909-42 {
            min-height: 43px;
            width: 41px;
            top: 25px;
            left: 644px;
        }
        
        .silex-id-1474394621033-3 {
            top: 129px;
            left: 5px;
            background-color: rgba(22, 46, 116, 0.9294117647058824);
            background-image: url('../assets/GB%20broad%20small.png');
            background-repeat: no-repeat;
            background-size: cover;
            min-width: 960px;
        }
        
        .silex-id-1474394621032-2 {
            min-height: 485px;
            background-color: transparent;
            width: 960px;
            background-size: contain;
            background-repeat: no-repeat;
            top: 15px;
            left: 267px;
        }
        
        .silex-id-1496258977878-1 {
            width: 1585px;
            min-height: 513px;
            top: 1px;
            left: 0px;
        }
        
        .silex-id-1478366450713-3 {
            top: 549px;
            left: 0px;
            background-color: rgba(22, 46, 116, 0.9294117647058824);
            min-width: 960px;
        }
        
        .silex-id-1478366450713-2 {
            min-height: 324px;
            background-color: transparent;
            width: 960px;
            top: 15px;
            left: 267px;
        }
        
        .silex-id-1496243854412-1 {
            width: 260px;
            background-color: rgba(114, 114, 114, 0.34509803921568627);
            min-height: 272px;
            top: 25px;
            left: 49px;
        }
        
        .silex-id-1496244135607-3 {
            width: 121px;
            min-height: 56px;
            top: 207px;
            left: 70px;
            background-color: rgba(114, 114, 114, 0.34509803921568627);
        }
        
        .silex-id-1496243999010-2 {
            width: 236px;
            min-height: 196px;
            top: 6px;
            left: 12px;
        }
        
        .silex-id-1496244282532-4 {
            width: 260px;
            background-color: rgba(114, 114, 114, 0.34509803921568627);
            min-height: 272px;
            top: 25px;
            left: 348px;
        }
        
        .silex-id-1496244282533-5 {
            width: 121px;
            min-height: 56px;
            top: 207px;
            left: 70px;
            background-color: rgba(114, 114, 114, 0.34509803921568627);
        }
        
        .silex-id-1496244282533-6 {
            width: 241px;
            min-height: 196px;
            top: 6px;
            left: 11px;
        }
        
        .silex-id-1496244301143-7 {
            width: 260px;
            background-color: rgba(114, 114, 114, 0.34509803921568627);
            min-height: 272px;
            top: 25px;
            left: 650px;
        }
        
        .silex-id-1496244301144-9 {
            width: 236px;
            min-height: 196px;
            top: 6px;
            left: 12px;
        }
        
        .silex-id-1496249959140-18 {
            top: 132px;
            left: 5px;
            background-color: rgba(247, 247, 247, 0.9294117647058824);
            min-width: 960px;
        }
        
        .silex-id-1496249959140-19 {
            min-height: 552px;
            background-color: transparent;
            width: 960px;
            top: 15px;
            left: 216px;
        }
        
        .silex-id-1496249959142-26 {
            min-height: 23px;
            width: 345px;
            top: 38px;
            left: 305px;
        }
        
        .silex-id-1496249959142-22 {
            min-height: 58px;
            width: 172px;
            top: 18px;
            left: 400px;
        }
        
        .silex-id-1496250132058-27 {
            width: 907px;
            min-height: 54px;
            top: 91px;
            left: 26px;
        }
        
        .silex-id-1496250304629-37 {
            width: 907px;
            min-height: 105px;
            top: 155px;
            left: 26px;
        }
        
        .silex-id-1496250406127-38 {
            width: 907px;
            background-color: transparent;
            min-height: 177px;
            top: 358px;
            left: 26px;
        }
        
        .silex-id-1496250473758-39 {
            width: 149px;
            min-height: 149px;
            top: 14px;
            left: 13px;
        }
        
        .silex-id-1496250485886-40 {
            width: 302px;
            min-height: 149px;
            top: 14px;
            left: 172px;
            background-color: rgba(22, 46, 116, 0.9294117647058824);
        }
        
        .silex-id-1496250669252-41 {
            width: 405px;
            min-height: 149px;
            top: 14px;
            left: 487px;
        }
        
        .silex-id-1496252135564-43 {
            top: 100px;
            left: NaNpx;
            background-color: rgba(247, 247, 247, 0.9294117647058824);
            min-width: 960px;
        }
        
        .silex-id-1496252135564-44 {
            min-height: 396px;
            background-color: transparent;
            width: 960px;
            top: 15px;
            left: 259px;
        }
        
        .silex-id-1496252135564-45 {
            min-height: 23px;
            width: 345px;
            top: 38px;
            left: 305px;
        }
        
        .silex-id-1496252135565-46 {
            min-height: 58px;
            width: 249px;
            top: 18px;
            left: 366px;
        }
        
        .silex-id-1496252135565-47 {
            width: 913px;
            min-height: 53px;
            top: 91px;
            left: 23px;
        }
        
        .silex-id-1496252135565-48 {
            width: 907px;
            min-height: 105px;
            top: 155px;
            left: 26px;
        }
        
        .silex-id-1496252476324-53 {
            top: 132px;
            left: 5px;
            background-color: rgba(247, 247, 247, 0.9294117647058824);
            min-width: 960px;
        }
        
        .silex-id-1496252476325-54 {
            min-height: 1001px;
            background-color: transparent;
            width: 960px;
            top: 15px;
            left: 249px;
        }
        
        .silex-id-1496252476325-55 {
            min-height: 23px;
            width: 345px;
            top: 38px;
            left: 305px;
        }
        
        .silex-id-1496252476325-56 {
            min-height: 58px;
            width: 249px;
            top: 18px;
            left: 366px;
        }
        
        .silex-id-1496252504717-59 {
            width: 935px;
            background-color: transparent;
            min-height: 266px;
            top: 429px;
            left: 13px;
        }
        
        .silex-id-1496252504718-62 {
            width: 525px;
            min-height: 249px;
            top: 9px;
            left: 400px;
        }
        
        .silex-id-1496253400407-76 {
            width: 378px;
            min-height: 249px;
            top: 9px;
            left: 9px;
        }
        
        .silex-id-1496253106807-68 {
            width: 935px;
            background-color: transparent;
            min-height: 266px;
            top: 138px;
            left: 12px;
        }
        
        .silex-id-1496253106808-69 {
            width: 525px;
            min-height: 249px;
            top: -1px;
            left: 400px;
        }
        
        .silex-id-1496253260886-72 {
            width: 378px;
            min-height: 249px;
            top: 9px;
            left: 9px;
        }
        
        .silex-id-1496253332418-73 {
            width: 935px;
            background-color: transparent;
            min-height: 262px;
            top: 725px;
            left: 13px;
        }
        
        .silex-id-1496253332418-74 {
            width: 525px;
            min-height: 249px;
            top: 9px;
            left: 400px;
        }
        
        .silex-id-1496253332419-75 {
            width: 378px;
            min-height: 249px;
            top: 9px;
            left: 9px;
        }
        
        .silex-id-1496256820339-77 {
            top: 132px;
            left: 5px;
            background-color: rgba(247, 247, 247, 0.9294117647058824);
            min-width: 960px;
        }
        
        .silex-id-1496256820339-78 {
            min-height: 608px;
            background-color: transparent;
            width: 960px;
            top: 15px;
            left: 259px;
        }
        
        .silex-id-1496256820340-79 {
            min-height: 23px;
            width: 345px;
            top: 38px;
            left: 305px;
        }
        
        .silex-id-1496256820340-80 {
            min-height: 58px;
            width: 249px;
            top: 18px;
            left: 366px;
        }
        
        .silex-id-1496256848753-83 {
            width: 929px;
            height: 400px;
            background-color: transparent;
            top: 199px;
            left: 15px;
        }
        
        .silex-id-1496256926716-84 {
            width: 913px;
            min-height: 26px;
            top: 134px;
            left: 23px;
        }
    