
        .body-initial {
            background-color: rgba(22, 46, 116, 0.9294117647058824);
        }
        
        .silex-id-1478366444112-1 {
            top: 5px;
            left: 5px;
            background-color: rgba(22, 46, 116, 0.9294117647058824);
            min-width: 960px;
        }
        
        .silex-id-1478366444112-0 {
            min-height: 92px;
            background-color: transparent;
            width: 960px;
            top: 15px;
            left: 216px;
        }
        
        .silex-id-1496171637415-0 {
            min-height: 43px;
            width: 41px;
            top: 25px;
            left: 697px;
        }
        
        .silex-id-1496171474022-0 {
            min-height: 74px;
            width: 74px;
            top: 7px;
            left: 8px;
        }
        
        .silex-id-1496171481889-1 {
            min-height: 33px;
            width: 212px;
            top: 31px;
            left: 91px;
        }
        
        .silex-id-1496245596511-10 {
            min-height: 43px;
            width: 58px;
            top: 25px;
            left: 751px;
        }
        
        .silex-id-1496245687356-11 {
            min-height: 43px;
            width: 55px;
            top: 25px;
            left: 820px;
        }
        
        .silex-id-1496245771918-12 {
            min-height: 43px;
            width: 55px;
            top: 25px;
            left: 885px;
        }
        
        .silex-id-1496249160049-17 {
            min-height: 23px;
            width: 345px;
            top: 38px;
            left: 305px;
        }
        
        .silex-id-1474394621033-3 {
            top: 129px;
            left: 5px;
            background-color: rgba(22, 46, 116, 0.9294117647058824);
            background-image: url('../assets/GB%20broad%20small.png');
            background-repeat: no-repeat;
            background-size: cover;
            min-width: 960px;
        }
        
        .silex-id-1474394621032-2 {
            min-height: 485px;
            background-color: transparent;
            width: 960px;
            background-size: contain;
            background-repeat: no-repeat;
            top: 15px;
            left: 267px;
        }
        
        .silex-id-1478366450713-3 {
            top: 549px;
            left: 0px;
            background-color: rgba(22, 46, 116, 0.9294117647058824);
            min-width: 960px;
        }
        
        .silex-id-1478366450713-2 {
            min-height: 324px;
            background-color: transparent;
            width: 960px;
            top: 15px;
            left: 267px;
        }
        
        .silex-id-1496243854412-1 {
            width: 260px;
            background-color: rgba(114, 114, 114, 0.34509803921568627);
            min-height: 272px;
            top: 25px;
            left: 49px;
        }
        
        .silex-id-1496244135607-3 {
            width: 121px;
            min-height: 56px;
            top: 207px;
            left: 70px;
            background-color: rgba(114, 114, 114, 0.34509803921568627);
        }
        
        .silex-id-1496243999010-2 {
            width: 236px;
            min-height: 196px;
            top: 6px;
            left: 12px;
        }
        
        .silex-id-1496244282532-4 {
            width: 260px;
            background-color: rgba(114, 114, 114, 0.34509803921568627);
            min-height: 272px;
            top: 25px;
            left: 348px;
        }
        
        .silex-id-1496244282533-5 {
            width: 121px;
            min-height: 56px;
            top: 207px;
            left: 70px;
            background-color: rgba(114, 114, 114, 0.34509803921568627);
        }
        
        .silex-id-1496244282533-6 {
            width: 241px;
            min-height: 196px;
            top: 6px;
            left: 11px;
        }
        
        .silex-id-1496244301143-7 {
            width: 260px;
            background-color: rgba(114, 114, 114, 0.34509803921568627);
            min-height: 272px;
            top: 25px;
            left: 650px;
        }
        
        .silex-id-1496244301144-9 {
            width: 236px;
            min-height: 196px;
            top: 6px;
            left: 12px;
        }
        
        .silex-id-1496249959140-18 {
            top: 132px;
            left: 5px;
            background-color: rgba(247, 247, 247, 0.9294117647058824);
            min-width: 960px;
        }
        
        .silex-id-1496249959140-19 {
            min-height: 506px;
            background-color: transparent;
            width: 960px;
            top: 15px;
            left: 216px;
        }
        
        .silex-id-1496249959142-26 {
            min-height: 23px;
            width: 345px;
            top: 38px;
            left: 305px;
        }
        
        .silex-id-1496249959142-22 {
            min-height: 58px;
            width: 172px;
            top: 18px;
            left: 400px;
        }
        
        .silex-id-1496250132058-27 {
            width: 907px;
            min-height: 54px;
            top: 91px;
            left: 26px;
        }
        
        .silex-id-1496250304629-37 {
            width: 907px;
            min-height: 105px;
            top: 155px;
            left: 26px;
        }
        
        .silex-id-1496250406127-38 {
            width: 907px;
            background-color: transparent;
            min-height: 177px;
            top: 304px;
            left: 26px;
        }
        
        .silex-id-1496250473758-39 {
            width: 149px;
            min-height: 149px;
            top: 14px;
            left: 13px;
        }
        
        .silex-id-1496250485886-40 {
            width: 302px;
            min-height: 149px;
            top: 14px;
            left: 172px;
            background-color: rgba(22, 46, 116, 0.9294117647058824);
        }
        
        .silex-id-1496250669252-41 {
            width: 405px;
            min-height: 149px;
            top: 14px;
            left: 487px;
        }
    