
        .body-initial {
            background-color: rgba(22, 46, 116, 0.9294117647058824);
        }
        
        .silex-id-1478366444112-1 {
            top: 0px;
            left: 0px;
            background-color: rgba(22, 46, 116, 0.9294117647058824);
            min-width: 1200px;
        }
        
        .silex-id-1478366444112-0 {
            min-height: 89px;
            background-color: transparent;
            width: 1200px;
            top: 15px;
            left: 208px;
        }
        
        .silex-id-1496171637415-0 {
            min-height: 43px;
            width: 41px;
            top: 23px;
            left: 897px;
        }
        
        .silex-id-1496171474022-0 {
            min-height: 74px;
            width: 74px;
            top: 7px;
            left: 8px;
        }
        
        .silex-id-1496171481889-1 {
            min-height: 47px;
            width: 277px;
            top: 31px;
            left: 91px;
        }
        
        .silex-id-1474394621033-3 {
            top: 119px;
            left: 0px;
            background-color: rgba(22, 46, 116, 0.9294117647058824);
            background-image: url('../assets/GB%20broad%20small.png');
            background-repeat: no-repeat;
            background-size: cover;
            min-width: 1192px;
        }
        
        .silex-id-1474394621032-2 {
            min-height: 472px;
            background-color: transparent;
            width: 1192px;
            background-size: contain;
            background-repeat: no-repeat;
            top: 15px;
            left: 207px;
        }
        
        .silex-id-1496172700359-1 {
            min-height: 61px;
            width: 1532px;
            top: 385px;
            left: 1px;
            background-color: rgba(107, 116, 114, 0.8352941176470589);
        }
        
        .silex-id-1478366450713-3 {
            top: 549px;
            left: 0px;
            background-color: rgba(22, 46, 116, 0.9294117647058824);
        }
        
        .silex-id-1478366450713-2 {
            min-height: 616px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1496243854412-1 {
            width: 260px;
            background-color: rgba(114, 114, 114, 0.34509803921568627);
            min-height: 272px;
            top: 25px;
            left: 49px;
        }
        
        .silex-id-1496244135607-3 {
            width: 121px;
            min-height: 56px;
            top: 207px;
            left: 70px;
            background-color: rgba(114, 114, 114, 0.34509803921568627);
        }
        
        .silex-id-1496243999010-2 {
            width: 236px;
            min-height: 196px;
            top: 6px;
            left: 12px;
        }
        
        .silex-id-1496244282532-4 {
            width: 260px;
            background-color: rgba(114, 114, 114, 0.34509803921568627);
            min-height: 272px;
            top: 25px;
            left: 478px;
        }
        
        .silex-id-1496244282533-5 {
            width: 121px;
            min-height: 56px;
            top: 207px;
            left: 70px;
            background-color: rgba(114, 114, 114, 0.34509803921568627);
        }
        
        .silex-id-1496244282533-6 {
            width: 241px;
            min-height: 214px;
            top: 6px;
            left: 11px;
        }
        
        .silex-id-1496244301143-7 {
            width: 260px;
            background-color: rgba(114, 114, 114, 0.34509803921568627);
            min-height: 272px;
            top: 25px;
            left: 900px;
        }
        
        .silex-id-1496244301144-9 {
            width: 236px;
            min-height: 196px;
            top: 6px;
            left: 12px;
        }
        
        .silex-id-1496245596511-10 {
            min-height: 43px;
            width: 60px;
            top: 43px;
            left: 1162px;
        }
        
        .silex-id-1496245687356-11 {
            min-height: 44px;
            width: 55px;
            top: 42px;
            left: 1237px;
        }
        
        .silex-id-1496245771918-12 {
            min-height: 44px;
            width: 55px;
            top: 43px;
            left: 1309px;
        }
    